
.background{
  background-color: teal;
}
body{
padding: 60px;
margin-top: auto;
}
h2{
  color:teal;
}
header{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
}
article{
  padding: 20px;
  margin: 20px;
  background-color: white;
}
img{
  max-width: 350px;
  max-height: 350px;
  display: inline;
  padding: 10px;
}
.button{
  background-color: teal;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: teal;
  text-align: center;
  padding: 10px;
}
.c{
  opacity: 20%;
  text-align: center;
}
.fa{
  float: right;
  padding: 5px;
  color: teal;
}

